/* var text-decoration */
@font-face {
  font-family: myfont;
  src: url(../fonts/ufonts.com_tw-cen-mt.ttf);
}
/*--
    Common Css
--*/
.imageAndText {position: relative;} 
.imageAndText .col {position: absolute; z-index: 1; top: 90%; left: 70%;font-size: 24px;font-weight: bolder;}
body {
  font-family: myfont;
  font-size: 14px;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-family: Poiret One;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 24px;
  font-weight: 500;
}
h3 {
  font-size: 20px;
  font-weight: 600;
}
p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0px;
  font-family: myfont;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a,
a:active,
a:focus,
a:active {
  text-decoration: none !important;
  font-size: 15px;
}
/*============== Mixins style start ================*/
.overlay-effect {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../images/overlay-pattern.png") #000000;
  opacity: 0.3;
}
/*--
    custom heading Start
--*/
.heading {
  text-align: center;
  font-weight: 500;
  color: #2E2E2E;
  padding: 40px 0px;
  position: relative;
}
.heading span {
  font-size: 45px;
  color: #ffac14;
  font-weight: 600;
}
.heading:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 140px;
  height: 1px;
  background: #C8C1B3;
  margin-left: -70px;
}
/*--
    custom heading Start
--*/
.title {
  color: #2E2E2E;
  text-transform: uppercase;
  padding: 30px 0px;
}
.title span {
  color: #ffa720;
}

/*--
    transition custom style
--*/
.transition {
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
/*============== Mixins style close ================*/
/*--
    header-img start Start
--*/
#hero-area {
  position: relative;
}
#hero-area:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../images/overlay-pattern.png") #000000;
  opacity: 0.3;
}
/*--
    nav Start
--*/



nav {
  z-index: 99999;
  width: 100%;
}
nav .block {
  margin-top: -85px;
  background: #fff;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.89);
}
nav .block .navbar-default {
  border: none;
  border-radius: 0px;
  margin-bottom: 0;
  background: none;
}
nav .block .navbar-default .navbar-brand {
  font-family: Gloria Hallelujah;
  font-size: 25px;
}
nav .block .navbar-default .navbar-nav {
  padding-top: 10px;
}
nav .block .navbar-default .navbar-nav > li > a {
  color: #2E2E2E;
  padding: 10px 0px;
  margin: 0px 15px;
  font-size: 15px;
}
nav .block .navbar-default .navbar-nav > li > a:before {
  background-color: transparent;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  height: 2px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  width: 0;
}
nav .block .navbar-default .navbar-nav > li > a:hover:before {
  background-color: #ff9632;
  content: "";
  width: 100%;
}
nav .block .navbar-default .navbar-nav > li.current > a {
  color: #2E2E2E;
  padding: 10px 0px;
  margin: 0px 15px;
}
nav .block .navbar-default .navbar-nav > li.current > a:before {
  background-color: transparent;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  height: 2px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  width: 100%;
  background-color: #ff9632;
}
nav .block .navbar-default .navbar-nav > .active > a,
nav .block .navbar-default .navbar-nav > .active > a:focus,
nav .block .navbar-default .navbar-nav > .active > a:hover {
  background: none;
}
nav .block .navbar-default .navbar-nav > .active > a:before,
nav .block .navbar-default .navbar-nav > .active > a:focus:before,
nav .block .navbar-default .navbar-nav > .active > a:hover:before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background: #ff9632;
}
/*--
    slider Start
--*/
#slider {
  padding: 30px 0px;
}

.slick-slider img{
  object-fit: cover;
  height: 200px;
  width: 200px;
}

/*--
    about-us Start
--*/
#about-us {
  padding: 100px 0px;
  background: #F6F6F6;
}
#about-us .block {
  text-align: center;
}
#about-us .block p {
  color: #959595;
  font-size: 16px;
  line-height: 26px;
  padding: 40px 0px;
}
/*--
    Search Start
--*/

.triggers .search-trigger {
  display: inline-block;
  font-size: 17px;
  color: #000000;
}

#blog {
  padding-top: 75px;
  padding-bottom: 100px;
  background: url("../images/sushi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
#blog:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../images/overlay-pattern.png") #000000;
  opacity: 0.3;
}
#blog .block .heading {
  color: #fff;
}
#blog .block ul {
  padding-top: 40px;
}
#blog .block ul li {
  overflow: hidden;
  width: 100%;
  float: left;
  background: #fff;
  text-align: center;
  color: #959595;
  transform: 1s;
}
/*#blog .block ul li:hover img {
  transform: scale(1.2) rotate(10deg);
}*/
#blog .block ul li h3 {
  color: #323232;
  padding: 0px 40px 20px;
  line-height: 26px;
  position: relative;
}
#blog .block ul li h3:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 90px;
  height: 1px;
  background: #CBC4B5;
  margin-left: -45px;
}
#blog .block ul li p {
  padding-top: 25px;
}
#blog .block ul li .blog-img {
  float: left;
  width: 50%;
  height: 100%;
  /*background: #ffa720;*/
  overflow: hidden;
  object-fit: cover;
}


#blog .block ul li .content-right {
  padding: 40px 35px 23px;
  font-size: 16px;
  line-height: 26px;
  float: right;
  width: 50%;
  height: 100%;
  position: relative;
}
#blog .block ul li .content-right:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  background: #fff;
  /*transform: rotate(45deg);*/
  margin-left: -15px;
}
#blog .block ul li .content-left {
  padding: 40px 35px 23px;
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
  z-index: 999;
}
#blog .block ul li .content-left:after {
  content: "";
  position: absolute;
  right: -15px;
  top: 50%;
  width: 30px;
  height: 30px;
  margin-top: 0px;
  background: #fff;
  /*transform: rotate(45deg);*/
}

#blog .block .btn-more-info{
  padding: 28px 30px;
  border-radius: 5px;
  background: #ffa720;
  color: #fff;
  border: 1px solid transparent ;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.page-body .btn-more-info {
  padding: 28px 30px;
  margin: 5% 8%;
  border-radius: 5px;
  background: #ffa720;
  color: #fff;
  border: 1px solid transparent;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}


#blog .block .btn-more-info:hover, .page-body .btn-more-info:hover {
  background: transparent;
  color: #ff9632;
  border: 1px solid #ff9632;
}

/*--
    subscribe Start
--*/
#subscribe {
  padding: 100px 0px;
  text-align: center;
  background: url("../images/background-1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
#subscribe:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../images/overlay-pattern.png") #000000;
  opacity: 0.5;
}
#subscribe .block h1.heading {
  color: #fff;
}
#subscribe .block p {
  padding: 25px 0px;
  color: #fff;
  font-size: 18px;
}
#subscribe .block form .form-control {
  width: 450px;
  background: #fff;
  opacity: 0.9;
  border: none;
  height: 65px;
  border-radius: 0px;
  font-size: 15px;
}
#subscribe .block form .input-group-addon {
  padding: 0px;
  border: none;
  background: none;
}
#subscribe .block form .input-group-addon button {
  width: 212px;
  height: 65px;
  border: none;
  border-radius: 0px;
  background: #ffc719;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
#subscribe .block form .input-group-addon button:hover {
  background: #ffac14;
}
/*--
    contact-us Start
--*/
#contact-us {
  padding: 70px 0px;
}
#contact-us .block .title {
  padding: 20px 0;
}
#contact-us .block form {
  padding-bottom: 20px;
}
#contact-us .block form input {
  height: 48px;
  border-radius: 0px;
  box-shadow: none;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
#contact-us .block form input:focus {
  border: 1px solid #7EC3BB;
}
#contact-us .block form textarea {
  height: 140px;
  border-radius: 0px;
  box-shadow: none;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
#contact-us .block form textarea:focus {
  border: 1px solid #7EC3BB;
}
#contact-us .block a {
  background: #ffa720;
  float: right;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 0px;
  border: 0px;
  width: 512px;
  height: 50px;
  padding-top: 15px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.info {
  padding-bottom: 30px;
}
/*--
    footer Start
--*/
#footer {
  padding: 70px 0px;
}
#footer .block h3 {
  color: #2E2E2E;
  padding-bottom: 25px;
}
#footer .block h3 span {
  color: #ffa720;
}
#footer .block .blog ul,

#footer .block .blog ul li,

#footer .block .blog ul li h4,

#footer .block .blog ul li h4 i,

#footer .block .blog ul li h4 a,

#footer .block .blog ul li p,

#footer .block .social-media-link h3 {
  font-size: 20px;
  padding-bottom: 15px;
  padding-top: 30px;
}
#footer .block .social-media-link h3 span {
  color: #ffa720;
}
#footer .block .social-media-link ul li {
  display: inline-block;
  margin-right: 20px;
}
#footer .block .social-media-link ul li a {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  padding-top: 8px;
  border-radius: 100%;
  background: #B0B0B0;
  color: #FFFFFF;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
#footer .block .social-media-link ul li a:hover {
  background: #ffa720;
  color: #fff;
}
/*--
    more-info Start
--*/
#footer-bottom {
  background: black;
  padding: 20px 0px;
  margin-top: 20px;
}
#footer-bottom p {
  text-align: center;
  padding-top: 12px;
  color: white;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
}
#footer-bottom p span {
  color: #ffa720;
}

.navbar-collapse ul li a  {
  font-family: Kalam;
}

.navbar-collapse ul li button{
  font-family: Kalam;
  background-color: #fff35b;
  color: #f38a14;

}

.navbar-collapse ul li button:hover{
  font-family: Kalam;
  background-color: #ff9632;
  color: white;

}




/*============== recipe ================*/

.page-head h1 {
  padding: 40px 0;
  text-align: center;
  color: #ff9632;
  font-size: 40px;
}

.page-head h1 span {
  color: black;
}

.page-head img {
  margin: 20px 20px 10px 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.profile {
  float: left;
}

.page-head h3 a {
  color: #ff9632;
}

.page-head h3 {
  padding-bottom: 20px;
}

.page-head, .page-body, .page-body img{
  padding: 10px 10%;
}
.page-body h3 {
  padding: 20px 0px;
  color: #ff9632;
}



.primary-content {
  padding: 10px 8% 30px 8%;
}

fieldset, label { margin: 0; padding: 0; }


/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

.rate {
  margin: 10% 10%;
}

.rate h1 span {
  color: #ff9632;
  font-size: 15px;

}

.primary-content {
  padding: 10px 8% 30px 8%;
}

fieldset, label { margin: 0; padding: 0; }


.rate h2 span {
  color: #ff9632;
}

