{% extends "myrecipe.html" %}
{% block abc %}
    <!-- END #fh5co-header -->
    <section class="probootstrap-section">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="probootstrap-teacher text-center animate-box">
                <figure class="media">
                    <a href="/myspace/username.html"><img src="../static/images/person_1.jpg" alt="" class="img-responsive"></a>
                </figure>
                <div class="text">
                  <a href="/myspace/username.html">Thor</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="probootstrap-teacher text-center animate-box">
                <figure class="media">
                    <a href="/myspace/username.html"><img src="../static/images/person_2.jpg" alt="" class="img-responsive"></a>
                </figure>
                <div class="text">
                  <a href="/myspace/username.html">Black Widow</a>
                </div>
              </div>
            </div>
            <div class="clearfix visible-sm-block visible-xs-block"></div>
            <div class="col-md-3 col-sm-6">
              <div class="probootstrap-teacher text-center animate-box">
                <figure class="media">
                    <a href="/myspace/username.html"><img src="../static/images/person_3.jpg" alt="" class="img-responsive"></a>
                </figure>
                <div class="text">
                  <a href="/myspace/username.html">Loki Odinson</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="probootstrap-teacher text-center animate-box">
                <figure class="media">
                    <a href="/myspace/username.html"><img src="../static/images/person_4.jpg" alt="" class="img-responsive"></a>
                </figure>
                <div class="text">
                  <a href="/myspace/username.html">Tony Stark</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <div class="page-turn">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <nav>
                    <ul class="pagination pagination-sm">
                        <li class="disabled">
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">Prev</span>
                            </a>
                        </li>
                        <li class="active"><a href="index.html">1</a></li>
                        <li><a href="page2.html">2</a></li>
                        <li><a href="page3.html">3</a></li>
                        <li><a href="page4.html">4</a></li>
                        <li><a href="page5.html">5</a></li>
                        <li><a href="page6.html" aria-label="Next">
                                <span aria-hidden="true">Next</span>
                            </a>
                        </li>
                    </ul> <!-- /.pagination -->
                </nav>
            </div>
        </div>
    </div> <!-- /.page-turn -->
{% endblock %}